<!--UNDO TILL HERE-->

<!-- <h3>Express-Server Encryption</h3>
  <!--  <section >
        <input type="text" size="32" id="aes-key" readonly="readonly"/>
        <button id="generate-key">Generate Random Key</button>
    </section> -->

  <!--  <section >
        <input type="file" id="source-file"/>

    </section>

    <section>
            <button id="encrypt">Encrypt </button>
            <button id="decrypt">Decrypt </button>
    </section>

    <section >
        Download Files:
        <ul id="download-links">
        </ul>
    </section>
    <script>


document.addEventListener("DOMContentLoaded", function() {
    "use strict";

    var algorithm =   {name: "AES-CBC", length: 256};

  //  document.getElementById("generate-key").addEventListener("click", generateKey);
    document.getElementById("encrypt").addEventListener("click", encryptFile);
    document.getElementById("decrypt").addEventListener("click", decryptFile);


/*    function generateKey() {

        window.crypto.subtle.generateKey(
          algorithm,
            true,
            ["encrypt", "decrypt"]

        ).then(function(encKey) {
            window.crypto.subtle.exportKey('raw', encKey

            ). then(function(encKeyBuffer) {
                document.getElementById("aes-key").value = arrayBufferToHexString(encKeyBuffer);

            }).catch(function(err) {
                alert("Key export failed: " + err.message);
            });

        }). catch(function(err) {
            alert("Key generation failed: " + err.message);
        });
    } */

    function encryptFile() {

        var sourceFile = document.getElementById("source-file").files[0];

        var encKeyBytes = hexStringToByteArray("e43ae092f73a4934e2b4ba5d71dbbf05c69df0faa2d0bc98315831ed26dfa36a");
        var encKey;
        var reader = new FileReader();

        reader.onload = function() {
            var iv = window.crypto.getRandomValues(new Uint8Array(16));
            window.crypto.subtle.encrypt(
                {name: "AES-CBC", iv: iv},
                encKey,
                new Uint8Array(reader.result)

            ). then(function(result) {
                var blob = new Blob([iv, new Uint8Array(result)], {type: "application/octet-stream"});

                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                // set the name of the file
                link.download = "encrypted" + sourceFile.name;
                // clicking the anchor element will download the file
                link.click();
                var fd = new FormData();
                fd.append("name", "encrypt" + sourceFile.name)
                fd.append("data", blob);
                console.log(fd.get("data"));

                $.ajax({
                    type: "POST",
                    url: "http://localhost:3000/uploadToServer",
                    data: fd,
                    processData: false,
                    contentType: false
                })
                    .done(function( data ) {
                        console.log("done");
                    })
                    .fail( function(xhr, textStatus, errorThrown) {
                        alert(xhr.responseText);
                        alert(textStatus);
                    });

            }). catch(function(err) {
                alert("Encryption failed: " + err.message);
            });
        };

        window.crypto.subtle.importKey(
            "raw",
            encKeyBytes,
            algorithm,
            true,
            ["encrypt", "decrypt"]

        ).then(function(importedKey) {
           encKey = importedKey;
            reader.readAsArrayBuffer(sourceFile);

        }).catch(function(err) {
            alert("Key import and file read failed: " + err.message);
        });
    }


    function decryptFile() {

        var sourceFile = document.getElementById("source-file").files[0];

        var encKeyBytes = hexStringToByteArray("e43ae092f73a4934e2b4ba5d71dbbf05c69df0faa2d0bc98315831ed26dfa36a");
        var encKey;
        var reader = new FileReader();

        reader.onload = function() {
            var iv = new Uint8Array(reader.result.slice(0, 16));
            window.crypto.subtle.decrypt(
                {name: "AES-CBC", iv: iv},
                encKey,
                new Uint8Array(reader.result.slice(16))

            ).then(function(result) {
                var blob = new Blob([new Uint8Array(result)], {type: "application/octet-stream"});
                var link = document.createElement('a');
                link.href = URL.createObjectURL(blob);
                // set the name of the file
                link.download = "Decrypted" + sourceFile.name;
                // clicking the anchor element will download the file
                link.click();
              /*  var blobUrl = URL.createObjectURL(blob);

                document.getElementById("download-links").insertAdjacentHTML(
                    'beforeEnd',
                    '<li><a href="' + blobUrl + '" download="' + sourceFile.name + '.decrypted">Decryption of ' + sourceFile.name +"decryptionDONE" + '</a></li>'
                  ); */
            }).
            catch(function(err) {
                alert("Decryption failed: " + err.message);
            });
        };

        window.crypto.subtle.importKey(
            "raw",
            encKeyBytes,
            algorithm,
            true,
            ["encrypt", "decrypt"]

        ). then(function(importedKey) {
            encKey = importedKey;
            reader.readAsArrayBuffer(sourceFile);
        }).catch(function(err) {
            alert("Key import and file read failed: " + err.message);
        });
    }



    function arrayBufferToHexString(arrayBuffer) {
        var byteArray = new Uint8Array(arrayBuffer);
        var hexString = "";
        var nextHexByte;

        for (var i=0; i<byteArray.byteLength; i++) {
            nextHexByte = byteArray[i].toString(16);
            if (nextHexByte.length < 2) {
                nextHexByte = "0" + nextHexByte;
            }
            hexString += nextHexByte;
        }
        return hexString;
    }

    function hexStringToByteArray(hexString) {
        if (hexString.length % 2 !== 0) {
            throw Error("Must have an even number of hex digits to convert to bytes");
        }

        var numBytes = hexString.length / 2;
        var byteArray = new Uint8Array(numBytes);
        for (var i=0; i<numBytes; i++) {
            byteArray[i] = parseInt(hexString.substr(i*2, 2), 16);
        }
        return byteArray;
    }

});    </script>
